/* Navbar.module.css */
.header {
  background-color: #1a1a1a; /* Dark background for extraterrestrial theme */
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0, 255, 255, 0.5); /* Neon glow effect */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.logo {
  margin-right: auto;
}

.logoImage {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5); /* Neon glow effect */
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1001;
  padding: 10px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #00ffff; /* Neon cyan */
  margin: 4px 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburgerOpen .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburgerOpen .bar:nth-child(2) {
  opacity: 0;
}

.hamburgerOpen .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.navLinks {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  transition: transform 0.3s ease-in-out;
}

.navLinks li {
  margin: 0 15px;
}

.navLink {
  text-decoration: none;
  color: #00ffff; /* Neon cyan */
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s, text-shadow 0.3s;
}

.navLink:hover {
  color: #ff00ff; /* Neon magenta */
  text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff; /* Glow effect */
}

.navActive {
  display: flex;
  flex-direction: column;
  position: fixed; /* Fixed position to cover the entire screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26, 26, 26, 0.98); /* Semi-transparent dark background */
  width: 100%;
  height: 100vh; /* Full viewport height */
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transform: translateX(0);
  box-shadow: 0 2px 10px rgba(0, 255, 255, 0.5); /* Neon glow */
}

.navActive li {
  margin: 20px 0; /* Increased spacing for better readability */
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navLinks {
    display: none;
  }

  .navActive {
    display: flex;
  }
}